html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-bg {
	background-image: url(https://image.freepik.com/free-vector/hexagonal-technology-pattern-mesh-background-with-text-space_1017-26293.jpg);
	height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.pirates{
  margin-top: -5cm;
}

.lpu{
  float: right;
  margin-right: 0.5cm;
  margin-top: -4.3cm;
}

body{
  background-image: url(https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.15752-9/261947189_654043722284106_8086112628071137391_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeEs2xAxLDgTZ-Bfj55ptOpx-CfnNFBYM934J-c0UFgz3alcOg1pyF91fguHaBFWGX830DsMiyBeB2mSC1mAb_dh&_nc_ohc=c-8H6fBGMoAAX_M56eU&_nc_ht=scontent.fmnl4-5.fna&oh=f7695c68ebc650b0ba47df4dc6397d16&oe=61CB4F05);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100%;
}


div .body {
  background-image: url(https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.15752-9/261947189_654043722284106_8086112628071137391_n.png?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeEs2xAxLDgTZ-Bfj55ptOpx-CfnNFBYM934J-c0UFgz3alcOg1pyF91fguHaBFWGX830DsMiyBeB2mSC1mAb_dh&_nc_ohc=c-8H6fBGMoAAX_M56eU&_nc_ht=scontent.fmnl4-5.fna&oh=f7695c68ebc650b0ba47df4dc6397d16&oe=61CB4F05);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100%;
}

div .maincontainer {
  margin: 0 auto;
  width: ___px;
  text-align: center;
  text-decoration: none;
}
li{
  text-decoration: none;
  display: inline;
}
ul {
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-top: -2cm;
}

ul li {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20in;
}

li a {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: -20in;
}

li a:hover {
  background-color: rgb(72, 255, 0);
}
.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #fdf9b3, #ce708b);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
#HEADLINE{
  margin-top: -0.9cm;
  text-align: center;
  font-size: 1cm;
}

.page-1{
  margin-top: 4cm;
}

.ml-logo{
  margin-top: -3cm;
  margin-left: 0.5cm;
}

.valo-logo{
  margin-left:2cm;
}
div .VALORANT{
  margin-top: -11.52cm;
  margin-left: 15cm;
}

div .CODM{
  margin-top: -11.52cm;
  margin-left: 18.5cm;
}

#aboutus{
  text-align:center;
  margin-right: 17cm;
  margin-top: 10cm;
  font-size: 40px;
}

.profile{
  display: flex;
  margin-left: -9cm;
}

.prof {
  flex: 33.33%;
  align-items: center;
}

